@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
    font-family:'NanumGothic'; 
    src:url('fonts/NanumGothic.eot'); 
    src:url('fonts/NanumGothic.eot?#iefix') format(‘embedded-opentype’), 
    url('fonts/NanumGothic.woff') format(‘woff’), 
    url('fonts/NanumGothic.ttf') format('truetype'), 
    url('fonts/NanumGothic.svg') format('svg'); }

@import url('https://fonts.googleapis.com/css?family=Numans');


body{font-family:'NanumGothic';}